.AutoCompleteSearch {
    max-width: 100%;
    margin-left: 5px;
    margin-right: 5px;
}

.SelectFieldSearch {
    max-width: 100%;
    margin-left: 5px;
    margin-right: 5px;
}

.mouse-hover:hover{
    cursor: pointer;
}

.margin-top-xs {
    margin-top: 5px;
}